<h1>Search your own posts!</h1>

<form>
  <input type="text" name="search_query" value="<%= params[:search_query] %>">
  <input type="submit" value="Search!">
</form>

<p>Found <%= @microposts.size %> posts.</p>
<table class="microposts" summary="User microposts">
  <%= render @microposts %>
</table>
